<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Luigi's</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    @Styles.Render("~/Content/fonts/beyond_the_mountains-webfont.css")

    <!-- Stylesheets -->
    @Styles.Render("~/Content/plugin-frameworks/bootstrap.min.css")
    @Styles.Render("~/Content/plugin-frameworks/swiper.css")
    @Styles.Render("~/Content/fonts/ionicons.css")
    @Styles.Render("~/Content/common/styles.css")

</head>
<body>

    <header>
        <div class="container">
            <a class="logo" href="#"><img src="~/Content/images/Logo/Logo.png" alt="Logo"></a>

            <div class="right-area">
                <h6><a class="plr-20 color-white btn-fill-primary" href="#">ORDER: +84 123 456 789</a></h6>
            </div><!-- right-area -->

            <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

            <ul class="main-menu font-mountainsre" id="main-menu">
                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Về chúng tôi", "About", "Home")</li>
                <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                <li>@Html.ActionLink("Liên lạc", "Contact", "Home")</li>
            </ul>

            <div class="clearfix"></div>
        </div><!-- container -->
    </header>

    @RenderBody()


    <footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">

            <div class="pt-30">
                <p class="underline-secondary"><b>Address:</b></p>
                <p>236 Hoàng Quốc Việt, Hà Nội</p>
            </div>

            <div class="pt-30">
                <p class="underline-secondary mb-10"><b>Phone:</b></p>
                <a href="tel:+84 123 456 789">+84 123 456 789</a>
            </div>

            <div class="pt-30">
                <p class="underline-secondary mb-10"><b>Email:</b></p>
                <a href="mailto:yourmail@gmail.com"> yourmail@gmail.com</a>
            </div>

            <ul class="icon mt-30">
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
            </ul>

            <p class="color-light font-9 mt-50 mt-sm-30">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This product is made with <i class="ion-heart" aria-hidden="true"></i> by HieuPham & VanVu
            </p>
        </div><!-- container -->
    </footer>


    @Scripts.Render("~/Content/plugin-frameworks/jquery-3.2.1.min.js")
    @Scripts.Render("~/Content/plugin-frameworks/bootstrap.min.js")
    @Scripts.Render("~/Content/plugin-frameworks/swiper.js")
    @Scripts.Render("~/Content/common/scripts.js")
</body>
</html>
